<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>관리자 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/admin/admin.js}"></script>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1>관리자 페이지</h1>
        <div class="card">
            <div class="card-content">
                <div class="card-item"><strong>아이디</strong></div>
                <div class="card-item"><strong>이메일</strong></div>
                <div class="card-item"><strong>전화번호</strong></div>
                <div class="card-item"><strong>가입일자</strong></div>
                <div class="card-item center"><strong>로그인 락</strong></div>
                <div class="card-item center"><strong>관리자 여부</strong></div>
                <div class="card-item center"><strong>삭제</strong></div>
            </div>
        </div>
        <div th:each="users : ${users}" class="card">
            <div class="card-content">
                <div class="card-item" th:text="${users.userId}"></div>
                <div class="card-item" th:text="${users.email}"></div>
                <div class="card-item" th:text="${users.contact}"></div>
                <div class="card-item" th:text="${users.regDate}"></div>
                <div class="card-item center">
                    <button th:text="${users.loginLock ? '잠김' : '해제'}"
                            th:attr="onclick=|toggleLoginLock('${users.userId}', ${users.loginLock})|">
                    </button>
                </div>
                <div class="card-item center">
                    <button th:text="${users.authorities == 'ROLE_ADMIN' ? '관리자' : '사용자'}"
                            th:attr="onclick=|toggleAdmin('${users.userId}', '${users.authorities}')|">
                    </button>
                </div>
                <div class="card-item center">
                    <form th:action="@{/admin/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="userId" th:value="${users.userId}">
                        <button type="submit">삭제</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="button-group">
            <button onclick="location.href='/sample'">돌아가기</button>
        </div>
    </div>
</main>
</body>
</html>





