* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findIdContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.findIdTitle {
    font-size: 45px;
    font-weight: bold;
}

.findIdContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}

label {
    display: none;
}

#userName {
    width: 400px;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #667373;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactContainer span {
    font-size: 20px;
}

#contactPrefix {
    width: 100px;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #667373;
}

#contactMiddle,
#contactSuffix {
    width: 130px;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #667373;
}

.btnSection {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.findIdBtn,
.homeBtn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: #667373;
    background-color: #FFFFFF;
    border: 1px solid #667373;
    font-weight: bold;
    font-size: 15px;
}

.findIdBtn:active,
.homeBtn:active {
    color: #FFFFFF;
    background-color: #B4D4FD;
    border: 1px solid #B4D4FD;
}

#userIdDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}