* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findIdContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.findIdTitle {
    font-size: 30px;
}

.findIdContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
}

#contactPrefix {
    width: 80px;
}

#contactMiddle,
#contactSuffix {
    width: 100px;
}

.btnSection {
    display: flex;
    justify-content: center;
    gap: 10%;
}
