* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.logo {
    width: 400px;
    height: 400px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

.loginTitle {
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 12px;
}

.id {
    display: flex;
    flex-direction: column;
}

.pw {
    display: flex;
    flex-direction: column;
}

.id label,
.pw label {
    display: none;
}

.id input,
.pw input {
    width: 300px;
    height: 35px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #667373;
}

label {
    margin-bottom: 5px;
}

.loginOption {
    font-size: 13px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

#rememberId,
#rememberMe {
    margin-right: 3px;
}

.loginBtn,
.signUpBtn {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    color: #667373;
    background-color: #FFFFFF;
    border: 1px solid #667373;
    font-size: 15px;
    font-weight: bold;
}

.loginBtn:active,
.signUpBtn:active {
    color: #FFFFFF;
    background-color: #B4D4FD;
    border: 1px solid #B4D4FD;
}

.signUpFind {
    display: flex;
}

.signUpFind a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.signUpFind a:not(:first-child)::before {
    content: "|";
    margin: 0 4px;
}

.socialLogin {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.kakao,
.naver,
.google {
    width:40px;
    height:40px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 12px;
    color: #667373;
    white-space: nowrap;
}

.divider:before,
.divider:after {
    content: "";
    display: block;
    width: 100px;
    border-top: 1px solid #e6e6e6;
    transform: scaleY(0.8);
}

.divider:before {
    margin-right: 12px;
}

.divider:after {
    margin-left: 12px;
}