<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Board Edit</title>
</head>
<body>
<main layout:fragment="content">
    <form th:action="@{/board/{boardId}(boardId=${boardId})}" th:method="patch">
        <table border="1">
            <tr>
                <td>게시판명 : <input type="text" name="boardTitle" th:value="${board.boardTitle}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="button">확인</button>
                </td>
                <td>
                    <a th:href="'/post/list/'+${boardId}">취소</a>
                </td>
            </tr>
        </table>
    </form>

</main>
</body>
</html>