<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>게시판 수정</title>
</head>
<body>
<main layout:fragment="content">
    <form th:action="@{/board/{boardId}(boardId=${boardId})}" th:method="patch">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="게시판 제목" th:field="${board.boardTitle}" required/>
            <button class="btn btn-outline-secondary" type="submit">확인</button>
            <button class="btn btn-outline-secondary" type="button" onclick="history.back()">취소</button>
        </div>
    </form>
</main>
</body>
</html>