<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>home</title>
</head>
<body>
<main layout:fragment="content">
    <table border="1">
        <tr th:each="board : ${boards}">
            <td><a th:href="'/post/list/'+${board.boardId}" th:text="${board.boardTitle}"></a></td>
        </tr>
    </table>
    <button type="button" onclick="location.href='/board/register'">게시판 등록</button>
</main>
</body>
</html>