<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Board Register</title>
</head>
<body>
<main layout:fragment="content">
  <form th:action="@{/board/register}" th:object="${board}" method="post">
    <div>
      <label for="boardTitle">BoardTitle:</label>
      <input type="text" id="boardTitle" th:field="*{boardTitle}" required/>
    </div>
    <button type="submit" class="button">등록</button>
  </form>
</main>
</body>
</html>