<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <link rel="stylesheet" href="/css/activity/activityFllower.css">
  <title>Post Detail</title>
</head>
<body>
<main layout:fragment="content">
  <section>
    <ul>
      <li>
        <a th:href="@{/activity}"
           th:classappend="${activeMenu == 'posts'} ? 'active'">작성한 게시물</a>
      </li>
      <li>
        <a th:href="@{/activity/bookmark}"
           th:classappend="${activeMenu == 'scraps'} ? 'active'">즐겨찾기한 게시물</a>
      </li>
      <li>
        <a th:href="@{/activity/follow}"
           th:classappend="${activeMenu == 'follow'} ? 'active'">팔로우한 유저 게시물</a>
      </li>
      <li>
        <a th:href="@{/activity/follower}"
           th:classappend="${activeMenu == 'follower'} ? 'active'">팔로워</a>
      </li>
    </ul>
  </section>
  <div class="container">
    <div  class="activityTitle">
      <p>나를 팔로우한 팔로워</p>
    </div>
    <table class="table">
      <tr th:each="user : ${users}">
        <td th:text="${user.userName}">default value</td>
      </tr>
    </table>
    <div class="paging">
      <a th:href="@{/activity/follower(page=${page - 1}, pageSize=10)}" th:if="${page > 1}">이전</a>

      <span><span th:text="${page}">1</span></span>

      <a th:href="@{/activity/follower(page=${page + 1}, pageSize=10)}">다음</a>
    </div>
  </div>
</main>
</body>
</html>