<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/css/post/detail.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>게시글 상세</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <div>
            <div class="top">
                <div class="postTitle" th:text="${post.postTitle}">default value</div>
                <button class="btn scrapSize" id="scrapButton" onclick="toggleScrap()">
                    <i class="bi bi-bookmark"></i>
                </button>
            </div>
            <div class="infoForm">
                <div class="nameSpace">
                    <span class="userName" th:text="|${post.user.userName} (${post.user.userId})|">default value</span>
                    <button id="followButton" class="btn followSize" onclick="following()"><i class="bi bi-person-check"></i></button>
                    <div sec:authorize="isAuthenticated()">
                        <div th:if="${post.user.userId == authenticatedUserId}">
                            <button type="button" class="btn"
                                    th:onclick="'location.href=\'/post/edit/' + ${post.postId} + '\''">
                                <i class="bi bi-pencil"></i></button>
                            <button type="submit" onclick="confirmPostDelete()" class="btn"><i class="bi bi-eraser"></i></button>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd')}">default value</span>
                        <span class="blank"><i class="bi bi-eye"></i><span
                                th:text="${post.viewCount}">default value</span></span>
                        <a class="registerBtn" th:href="'/post/list/'+${post.boardId}">목록</a>
                    </div>
                </div>

            </div>
        </div>

        <article class="card postContainer">
            <div th:text="${post.postContent}">default value</div>
        </article>
        <div id="commentSection">
            <div class="commentForm">
                <!-- 댓글 목록 -->
                <div id="commentList">
                    <!-- 댓글은 FETCH로 조회됩니다 -->
                </div>
            </div>
            <!-- 댓글 작성 폼 -->
            <div class="addForm">
                <input class="addFormContent" type="text" id="commentContent" placeholder="댓글을 입력하세요" required>
                <button class="addSearchBtn" onclick="addComment()">등록</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        // 댓글 목록 조회
        function loadComments() {
            fetch('/api/comment/[[${post.postId}]]', {

                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.length === 0) {
                        const listItem = document.createElement('div');
                        listItem.innerHTML = `<span>등록된 댓글이 없습니다.</span>`;
                        commentList.appendChild(listItem);
                    } else {
                        const commentList = document.getElementById('commentList');
                        commentList.innerHTML = ''; // 기존 목록 초기화
                        data.forEach(comment => {
                            const listItem = document.createElement('div');
                            listItem.className = 'commentContent';
                            listItem.id = `comment-${comment.commentId}`;
                            listItem.innerHTML = `
                            <div class="commentContentSpan">
                                <div class="commentContent1">${comment.user.userName}<div>${comment.user.userId}</div></div>
                                <div class="commentContent2">${comment.commentContent}</div>
                                <div class="commentContentBtn">
                                    <button class="editBtn" onclick="editComment(${comment.commentId})"><i class="bi bi-pencil"></i></button>
                                    <button class="deleteBtn" onclick="confirmCommentDelete(${comment.commentId})"><i class="bi bi-eraser"></i></button>
                                </div>
                            </div>
                            `;
                            commentList.appendChild(listItem);
                            document.getElementById('commentContent').value = '';
                        });
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function addComment() {
            const content = document.getElementById('commentContent').value;

            if (!content.trim()) {  // content가 비어 있거나 공백만 있을 경우
                alert("댓글을 입력해주세요.");
                return
            }
            const postId = [[ ${post.postId} ]];

            fetch('/api/comment/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ commentContent: content, postId: postId})
            })
                .then(response => response.json())
                .then(data => {
                    const commentList = document.getElementById('commentList');
                    commentList.innerHTML = ''; // 기존 목록 초기화
                    data.forEach(comment => {
                        const listItem = document.createElement('div');
                        listItem.className = 'commentContent';
                        listItem.id = `comment-${comment.commentId}`;
                        listItem.innerHTML = `
                        <div class="commentContentSpan">
                            <div class="commentContent1">${comment.user.userName}<div>${comment.user.userId}</div></div>
                            <div class="commentContent2">${comment.commentContent}</div>
                            <div class="commentContentBtn">
                                <button class="editBtn" onclick="editComment(${comment.commentId})"><i class="bi bi-pencil"></i></button>
                                <button class="deleteBtn" onclick="confirmCommentDelete(${comment.commentId})"><i class="bi bi-eraser"></i></button>
                            </div>
                        </div>
                    `;
                        commentList.appendChild(listItem);
                        document.getElementById('commentContent').value = '';
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        // 댓글 수정
        function editComment(id) {
            const content = prompt("수정할 댓글 내용을 입력하세요:");
            if (content) {
                fetch(`/api/comment/${id}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ commentContent: content })
                })
                    .then(response => response.json())
                    .then(updatedComment => {
                        const listItem = document.getElementById(`comment-${id}`);
                        listItem.innerHTML = `
                        <div class="commentContentSpan">
                            <div class="commentContent1">${updatedComment.user.userName}<div>${updatedComment.user.userId}</div></div>
                            <div class="commentContent2">${updatedComment.commentContent}</div>
                            <div class="commentContentBtn">
                                <button class="editBtn" onclick="editComment(${updatedComment.commentId})"><i class="bi bi-pencil"></i></button>
                                <button class="deleteBtn" onclick="confirmCommentDelete(${updatedComment.commentId})"><i class="bi bi-eraser"></i></button>
                            </div>
                        </div>
                    `;
                    })
                    .catch(error => console.error('Error:', error));
            }
        }

        // 댓글 삭제
        function deleteComment(id) {
            fetch(`/api/comment/${id}`, {
                method: 'DELETE'
            })
                .then(() => {
                    const listItem = document.getElementById(`comment-${id}`);
                    listItem.remove();
                    loadComments();
                })
                .catch(error => console.error('Error:', error));
        }

        // 초기 로딩 시 댓글 목록 불러오기
        document.addEventListener('DOMContentLoaded', function() {
            loadComments();
            loadFollow();
        });

        // 팔로우 체크
        function loadFollow() {
            fetch('/api/follow/[[ ${post.user.userId} ]]', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    if(data === 1) {
                        $('#followButton i').removeClass('bi bi-person-check').addClass('bi bi-person-fill-dash');
                        // document.getElementById("followButton").textContent = "팔로우 취소";
                    } else {
                        $('#followButton i').removeClass('bi bi-person-fill-dash').addClass('bi bi-person-check');
                        // document.getElementById("followButton").textContent = "팔로우";
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // 팔로우 & 팔로우 취소
        function following() {
            const userId = [[ ${post.user.userId} ]];

            fetch('/api/follow', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ follow: userId })
            })
                .then(response => response.json())
                .then(data => {
                    if(data === 0) {
                        $('#followButton i').removeClass('bi bi-person-fill-dash').addClass('bi bi-person-check');
                        // document.getElementById("followButton").textContent = "팔로우";
                    } else if(data === 1){
                        $('#followButton i').removeClass('bi bi-person-check').addClass('bi bi-person-fill-dash');
                        // document.getElementById("followButton").textContent = "팔로우 취소";
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        //즐겨찾기 버튼 업데이트 함수
        function updateScrapBtn(isScrap) {
            if (isScrap) {
                $('#scrapButton i').removeClass('bi bi-bookmark').addClass('bi bi-bookmark-fill');
            } else {
                $('#scrapButton i').removeClass('bi bi-bookmark-fill').addClass('bi bi-bookmark');
            }
        }

        // 디테일 페이지 진입 시 실행
        $(document).ready(function() {
            var postId = '[[${postId}]]';

            // 즐겨찾기 상태
            $.ajax({
                url: `/bookmark/${postId}`,
                type: 'GET',
                success: function(response) {
                    updateScrapBtn(response.exist);
                },
                error: function(error) {
                    console.log('즐겨찾기 상태 확인 실패', error);
                }
            });
        });

        // 즐겨찾기 토글 함수
        function toggleScrap() {
            var postId = '[[${postId}]]';

            $.ajax({
                url: `/bookmark/${postId}`,
                type: 'POST',
                success: function(response) {
                    updateScrapBtn(response === 1);
                },
                error: function(error) {
                    console.log('즐겨찾기 토글 실패', error);
                }
            });
        }

        // 댓글 삭제
        function confirmCommentDelete(id) {
            if (confirm("삭제하시겠습니까?")) {
                deleteComment(id); //
            }
        }

        // 게시글 삭제
        function confirmPostDelete() {
            if (confirm("삭제하시겠습니까?")) {
                const postId = '[[ ${postId} ]]';
                const boardId = '[[ ${post.boardId} ]]';
                $.ajax({
                    url: `/post/${postId}`,
                    type: 'DELETE',
                    success: function(response) {
                        window.location.href = '/post/list/' + boardId;
                    },
                    error: function(error) {
                        console.log('삭제 실패', error);
                    }
                });
            }
        }

    </script>
</main>
</body>
</html>