<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>예시 페이지</title>
</head>
<body>
<main layout:fragment="content">
    <form th:action="@{/post/{postId}(postId=${post.postId})}" th:method="patch">
        <table border="1">
            <tr>
<!--                <td th:text="|No.${post.postId}|">default value</td>-->
                <td>제목 : <input type="text" name="postTitle" th:value="${post.postTitle}"></td>
                <!-- <td th:text="|작성일시 : ${post.regDate}|">default value</td> -->
                <!-- <td th:text="|수정일시 : ${post.modDate}|">default value</td> -->
            </tr>
            <tr>
                <td>내용 : <input type="text" name="postContent" th:value="${post.postContent}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="button">확인</button>
                </td>
                <td>
                    <button class="button">
                        <a th:href="'/post/'+${post.postId}">취소</a>
                    </button>
                </td>
            </tr>
        </table>
    </form>

</main>
</body>
</html>