<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/css/post/list.css">
    <title>Post List</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <form action="/post/list">
            <div class="top">
                <div class="boardTitle">
                    <p th:text="${boardTitle}"></p>
                </div>
                <div class="searchForm">
                    <select name="filter" class="formSelect">
                        <option value="post_title">제목</option>
                        <option value="post_content">내용</option>
                    </select>
                    <input type="text" name="description" class="formContent">
                    <input type="submit" value="검색" class="searchBtn">
                </div>
                <div class="filter">
                    <a th:href="'/post/list/' + ${boardId}"><i class="bi bi-arrow-counterclockwise"></i></a>
                    <!-- 정렬 -->
                    <a th:href="@{/post/list/{boardId}(boardId=${boardId}, orderBy='reg_date')}"><img class="filterNewest" th:src="@{/img/post/filterNewest.png}"></a>
                    <a th:href="@{/post/list/{boardId}(boardId=${boardId}, orderBy='view_count')}"><img class="filterPopular" th:src="@{/img/post/filterPopular.png}"></a>
                </div>
            </div>

            <input type="hidden" th:name="boardId" th:value="${boardId}"/>

            <table class="card">
                <tr th:each="post : ${posts}">
                    <td>
                        <div class="postContainer">
                            <div class="postInfo">
                                <span th:text="${post.user.userName}">default value</span>
                                <span><a th:href="'/post/'+${post.postId}" th:text="${post.postTitle}"></a></span>
                            </div>
                            <div class="postStats">
                                <span th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd')}">default value</span>
                                <span><i class="bi bi-eye"></i><span th:text="${post.viewCount}">default value</span></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="sub">
                <a class="listBtn" th:href="'/board/list'">게시판 목록</a>

                <!-- 페이지 버튼 -->
                <div class="paging">
                    <a th:href="@{/post/list/{boardId}(boardId=${boardId}, page=${page - 1}, pageSize=10)}" th:if="${page > 1}">이전</a>

                    <span th:text="${page}"></span>

                    <a th:href="@{/post/list/{boardId}(boardId=${boardId}, page=${page + 1}, pageSize=10)}">다음</a>
                </div>

                <a class="registerBtn" th:href="@{/post/register(boardId=${boardId})}">글쓰기</a>
            </div>
        </form>
    </div>
<script th:src="@{/js/post/list.js}"></script>
</main>
</body>
</html>