<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/css/post/edit.css">
    <title>예시 페이지</title>
</head>
<body>
<main layout:fragment="content">
    <form th:action="@{/post/register}" th:object="${post}" method="post">
        <div>
            <input type="hidden" name="boardId" th:value="${boardId}" />
        </div>
        <div class="mb-3">
            <label for="postTitle" class="form-label">제목</label>
            <input type="text" class="form-control" id="postTitle" name="postTitle" th:field="*{postTitle}"
                   required/>
        </div>

        <div class="mb-3 box">
            <label for="postContent" class="form-label">내용</label>
            <textarea class="form-control" id="postContent" name="postContent" th:text="*{postContent}"
                      rows="5" required></textarea>
            <button type="submit" class="btn">확인</button>
            <button type="button" class="btn" onclick="history.back()">취소</button>
        </div>
    </form>
</main>
</body>
</html>