<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아이디 찾기 페이지</title>
</head>
<body>
<div class="findIdContainer">
    <div class="findIdTitle">
        <h1>아이디 찾기</h1>
    </div>
    <div class="findIdContent">
        <form>
            <label for="userName">이름</label>
            <input type="text" name="userName" id="userName" required>
            <div class="feedback"></div>

            <label for="contact">연락처</label>
            <div class="contactContainer">
                <label for="contactPrefix"></label>
                <select name="contactPrefix" id="contactPrefix" class="contactWidth">
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">012</option>
                    <option value="016">013</option>
                    <option value="017">016</option>
                </select>
                <span>-</span>
                <label for="contactMiddle"></label>
                <input type="text" id="contactMiddle" maxlength="4"
                       oninput="formatContactInput()" required>
                <span>-</span>
                <label for="contactSuffix"></label>
                <input type="text" id="contactSuffix" maxlength="4"
                       oninput="formatContactInput()" required>
            </div>
            <input type="hidden" name="contact" id="contact">
            <button class="signUpBtn" onclick="findId()">아이디 찾기</button>
            <button class="cancelBtn">로그인페이지로 이동</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function formatContactInput() {
        const regex = /^[0-9]*$/; // 숫자만 입력받기 위한 정규식
        const contactMiddle = document.getElementById('contactMiddle');
        const contactSuffix = document.getElementById('contactSuffix');

        // 숫자가 아닌 경우 제거
        if (!regex.test(contactMiddle.value)) {
            contactMiddle.value = contactMiddle.value.replace(/[^0-9]/g, '');
        }
        if (!regex.test(contactSuffix.value)) {
            contactSuffix.value = contactSuffix.value.replace(/[^0-9]/g, '');
        }

        // 세 입력 칸 합쳐서 hidden input 에 저장
        const contactPrefix = document.getElementById('contactPrefix').value;
        const contact = document.getElementById('contact');
        contact.value = `${contactPrefix}-${contactMiddle.value}-${contactSuffix.value}`;
    }

    document.getElementById('contactPrefix').addEventListener('change', formatContactInput);
    document.getElementById('contactMiddle').addEventListener('input', formatContactInput);
    document.getElementById('contactSuffix').addEventListener('input', formatContactInput);

    document.querySelector(".cancelBtn").addEventListener("click", (e) => {
        e.preventDefault();
        location.href = '/user/login';
    });
</script>
</body>
</html>