<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/user/login.css">
</head>
<body>
    <div class="loginContainer">
        <div class="logo">
            <div class="img">
            </div>
        </div>
        <div class="loginContent">
            <div class="loginTitle">
                <h1>로그인</h1>
            </div>
            <div >
                <form class="loginForm">
                    <div class="id">
                        <label>아이디</label>
                        <input type="text">
                    </div>
                    <div class="pw">
                        <label>비밀번호</label>
                        <input>
                    </div>
                    <div class="loginOption">
                        <div>
                            <label>
                                <input type="checkbox" checked>
                                자동로그인
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" checked>
                                아이디저장
                            </label>
                        </div>
                    </div>
                    <button class="loginButton">로그인</button>
                    <button class="signUpButton">회원가입</button>
                </form>
            </div>
            <div class="signUpFind">
                <a href="#">아이디찾기 </a>
                <a href="#"> 비밀번호찾기</a>
            </div>
        </div>
    </div>
</body>
</html>