header, main, footer {
    max-width: 1280px;
    margin: auto;
    padding: 10px;
}

@media (max-width: 768px) {
    header, main, footer {
        width: 100%;
        padding: 5px;
    }
}

header {
    min-height: 150px;
    align-content: end;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeLogo{
    width: 150px;
    height: 100px;
    background: yellow;
}

.loginIcon{
    width: 50px;
    height 50px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

.loginIcon i {
    font-size: 50px;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 150px;
    text-align: center;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

main {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    min-height: 100px;
}

.footerContainer {
    display: flex;
    align-items: top;
    gap: 30px
}

.project p {
    margin: 0;
}
