<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elice.boardproject.usersAuth.mapper.UsersAuthMapper">
    <insert id="registerUserAuth">
        insert into users_auth (user_id)
        values (#{userId})
    </insert>
</mapper>